<div id="nav-grid-container">
    <div class="nav-h1"> <h1> <a href="/">BLOGexpresS</a></h1> </div>
    <nav> 
        <div class="nav-nav">
            <a href="/"> HOME </a>
            <a href="/form"> FORM </a>
        </div>
    </nav>
</div>
