<!DOCTYPE html>
<html lang="es">

<!-- INPORTING HEAD -->
<%- include("./partials/head.ejs") %>

<body>
    <!-- IMPORTING NAV -->
    <%- include("./partials/nav.ejs") %>

    <div class="blogs content">
        <h2>You look lost</h2>
        <p>Aren't you?</p>
    </div>

    <!-- IMPORTING THE FOOTER -->
    <%- include("./partials/footer.ejs") %>
</body>

</html>